<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/catalog.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links})%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">Каталог</a>
    </section>
    <section class="no-filters categories">
        <a href="/catalog/evroruberoid" class="categorie">
            <span class="name">Еврорубероид</span>
            <img src="img/rubiroid-catalog.png"lt="">
        </a>
        <a href="/catalog/mastika" class="categorie">
            <span class="name">Мастики, праймеры</span>
            <img src="img/mastika-catalog.png" alt="">
        </a>
        <a href="/catalog/germetik" class="categorie">
            <span class="name">Герметики</span>
            <img src="img/germetik-catalog.png" alt="">
        </a>
        <a href="/catalog/podkladochnyi-kover" class="categorie">
            <span class="name">Подкладочный ковер</span>
            <img src="img/kover-catalog.png" alt="">
        </a>
        <a href="/catalog/shlakoblock" class="categorie">
            <span class="name">Шлакоблок</span>
            <img src="img/shlakoblock-catalog.png" alt="">
        </a>
    </section>
    <section class="description">
        <div class="description-text"><pre><%-description%></pre></div>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
</body>
</html>