<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/certification.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links})%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">Сертификаты</a>
    </section>
    <section class="content">
        <h2 class="content-header">Техническая документация и сертификаты</h2>
        <div class="content-title">
            Тут Вы можете скачать всю необходимую техническую документацию и сертификаты соответсвия на все наши товары
        </div>
        <div class="content-body">
            <%for(let i = 0; i < certificats.length; i++){%>
                <div class="certificate-item">
                    <img src="<%=certificats[i].imgs[0]%>" alt="">
                    <div class="certificate-info">
                        <div class="certificate-text"><%-certificats[0].title%></div>
                        <div class="certificate-btn">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.3991 8.90431C10.7819 8.41863 10.1953 7.91931 9.80469 7.52869C9.29688 7.02088 8.84438 6.52869 8.45119 6.05994C9.0645 4.16475 9.33338 3.18756 9.33338 2.66669C9.33338 0.453812 8.53388 0 7.33338 0C6.42125 0 5.33338 0.473938 5.33338 2.7305C5.33338 3.72531 5.87831 4.933 6.95838 6.33663C6.69407 7.14325 6.3835 8.07363 6.03456 9.12244C5.86656 9.62569 5.68431 10.0918 5.49156 10.5228C5.33469 10.5925 5.18231 10.6634 5.03519 10.737C4.50525 11.002 4.002 11.2403 3.53519 11.4616C1.40625 12.4694 0 13.1361 0 14.4525C0 15.4083 1.03844 16 2 16C3.23956 16 5.11131 14.3444 6.4785 11.5553C7.89775 10.9954 9.66213 10.5807 11.0547 10.3209C12.1706 11.179 13.403 12 14 12C15.653 12 16 11.0443 16 10.2428C16 8.66663 14.1992 8.66663 13.3333 8.66663C13.0644 8.66669 12.3431 8.74613 11.3991 8.90431ZM2 14.6667C1.61913 14.6667 1.36131 14.487 1.33331 14.4525C1.33331 13.9798 2.74281 13.3119 4.10613 12.6661C4.19269 12.6251 4.28063 12.584 4.36981 12.5417C3.3685 13.9936 2.37825 14.6667 2 14.6667ZM6.66669 2.7305C6.66669 1.33338 7.10032 1.33338 7.33338 1.33338C7.80475 1.33338 8.00007 1.33337 8.00007 2.66669C8.00007 2.94794 7.81257 3.65106 7.46944 4.74875C6.94594 3.94275 6.66669 3.252 6.66669 2.7305ZM7.17775 9.89588C7.21944 9.78 7.25981 9.66281 7.29888 9.54431C7.54625 8.80213 7.76894 8.13544 7.9675 7.53519C8.24419 7.83988 8.54238 8.15175 8.86207 8.47138C8.98707 8.59638 9.29694 8.87763 9.70975 9.22981C8.888 9.40888 8.01369 9.63088 7.17775 9.89588ZM14.6667 10.2429C14.6667 10.5424 14.6667 10.6667 14.0482 10.6706C13.8666 10.6316 13.4466 10.3842 12.9284 10.0313C13.1165 10.0105 13.2552 10.0001 13.3333 10.0001C14.3184 10.0001 14.5977 10.0964 14.6667 10.2429Z" fill="#14AFF2"/>
                            </svg>
                            <span>Скачать</span>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </section>
    <section class="description">
        <div class="wrap-description">
            <div class="description-header">Сертификаты соответсвия</div>
            <div class="description-text">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!"</div>
        </div>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
</body>
</html>