<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/company.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header', {links: links})%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="/" class="prev-page">О нас</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">О компании</a>
    </section>
    <section class="content">
        <h2 class="content-header">Группа компаний “Ореол - 1”</h2>
        <div class="content-body">
            <div class="about-item">
                <img src="img/about1.png" alt="">
                <div class="about-text">
                    <strong>Производственно-кровельная компания «ОРЕОЛ-1»</strong> успешно работает на строительном рынке с 1990 года. На сегодняшний день в нашей компании вы можете получить полный сервис по комплексному снабжению кровельными материалами, а также широкий спектр ремонтно-строительных услуг. <br>
                        Ассортимент предлагаемой продукции довольно широкий. Мы помогаем нашим клиентам обустроить кровельные системы, отремонтировать фасады домов, сделать гидроизоляцию подвалов, бассейнов, фундаментов с использованием наших материалов с минимальными затратами и в очень короткие сроки. <br>
                        Мы также предлагаем полный набор дополнительных аксессуаров и расходных материалов к основным видам наших товаров. Они подобраны таким образом, чтобы в полной мере удовлетворить потребности самого широкого круга покупателей — от магазинов и ремонтно-строительных организаций до индивидуальных клиентов.
                </div>
            </div>
            <div class="progress">
                <div class="progress-item plus-item">
                    <div class="plus-text">25+</div>
                    <span>лет на рынке Украины</span>
                </div>
                <div class="progress-item plus-item">
                    <div class="plus-text">100+</div>
                    <span>позиций</span>
                </div>
                <div class="progress-item plus-item">
                    <div class="plus-text">200+</div>
                    <span>точек продаж</span>
                </div>
                <div class="progress-item plus-item">
                    <div class="plus-text">4+</div>
                    <span>линий производства</span>
                </div>
                <div class="progress-item text-item">
                    <div class="item-header">Готовое решение и поддержка</div>
                    <span class="item-text">Вы получаете готовое решение: мы обеспечиваем профессиональными консультациями и предоставляем полную техническую поддержку</span>
                </div>
                <div class="progress-item text-item">
                    <div class="item-header">Заводское производство и гарантии</div>
                    <span class="item-text">Продукция производится на автоматизированной линии, проходит сертификацию, предоставляется гарантия и бесплатные образцы для использования;</span>
                </div>
                <div class="progress-item text-item">
                    <div class="item-header">Индивидуальный подход</div>
                    <span class="item-text">Отсрочки платежей, система скидок, мы обеспечиваем оперативность исполнения заявок и своевременную доставку на объект;</span>
                </div>
                <div class="progress-item text-item">
                    <div class="item-header">Отечественный производитель</div>
                    <span class="item-text">Вы инвестируете в экономику Украины: наша компания является отечественным производителем.</span>
                </div>
            </div>
            <div class="about-header">Спонсорство</div>
            <div class="about-item">
                <div class="about-text">
                    Компанія ТОВ «Завод Ореол-1» є спонсором футбольної команди ФК «Городок» м. Васильків , Київська обл.
                </div>
                <img src="img/about2.png" alt="">
            </div>
        </div>
    </section>
    <%- include('parts/footer', {links: links, charts: charts})%>
    <script src="js/modal.js"></script>
</body>
</html>