<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/delivery.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header')%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">Оплата и доставка</a>
    </section>
    <section class="content">
        <h2 class="content-header">Оплата и доставка</h2>
        <div class="content-title">
        Наша команда организует доставку товара по выгодной цене и в короткие сроки в любую точку Киева и области.
        Доставка еврорубероида и мастик по Украине осуществляется курьерской службой “Новая Почта”.
        </div>
        <div class="content-title content-title-bold">В нашем распоряжении есть все виды транспорта:
        </div>
        <div class="content-body">
            <div class="delivery-item">
                <img src="img/delivery1.png" alt="">
                <div class="delivery-info">
                    <div class="delivery-name">Камаз бортовой</div>
                    <div class="delivery-chars"> 
                        Количество поддонов -20 шт. <br>
                        Грузоподъемность - 21т. <br>
                        Длинна кузова - 16м. </div>
                    <div class="delivery-price">Цена договорная</div>
                </div>
            </div>
            <div class="delivery-item">
                <img src="img/delivery2.png" alt="">
                <div class="delivery-info">
                    <div class="delivery-name">МАЗ шаланда </div>
                    <div class="delivery-chars"> 
                        Количество поддонов -12 шт. <br>
                        Грузоподъемность - 12т. <br>
                        Длинна кузова - 10,5м. </div>
                    <div class="delivery-price">Цена договорная</div>
                </div>
            </div>
            <div class="delivery-item">
                <img src="img/delivery3.png" alt="">
                <div class="delivery-info">
                    <div class="delivery-name">Камаз Бортовой + прицеп </div>
                    <div class="delivery-chars"> 
                        Количество поддонов -12 шт. <br>
                        Грузоподъемность - 12т. <br>
                        Длинна кузова - 10,5м. </div>
                    <div class="delivery-price">Цена договорная</div>
                </div>
            </div>
            <div class="delivery-item">
                <img src="img/delivery4.png" alt="">
                <div class="delivery-info">
                    <div class="delivery-name">Камаз бортовой</div>
                    <div class="delivery-chars"> 
                        Количество поддонов -12 шт. <br>
                        Грузоподъемность - 12т. <br>
                        Длинна кузова - 10,5м. </div>
                    <div class="delivery-price">Цена договорная</div>
                </div>
            </div>
            <div class="delivery-item">
                <img src="img/delivery5.png" alt="">
                <div class="delivery-info">
                    <div class="delivery-name">Камаз бортовой</div>
                    <div class="delivery-chars"> 
                        Количество поддонов -12 шт. <br>
                        Грузоподъемность - 12т. <br>
                        Длинна кузова - 10,5м. </div>
                    <div class="delivery-price">Цена договорная</div>
                </div>
            </div>
            <div class="delivery-item">
                <img src="img/delivery6.png" alt="">
                <div class="delivery-info">
                    <div class="delivery-name">Камаз бортовой</div>
                    <div class="delivery-chars"> 
                        Количество поддонов -12 шт. <br>
                        Грузоподъемность - 12т. <br>
                        Длинна кузова - 10,5м. </div>
                    <div class="delivery-price">Цена договорная</div>
                </div>
            </div>
        </div>
    </section>
    <%- include('parts/footer')%>
    <script src="js/modal.js"></script>
</body>
</html>