<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/faq.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('parts/header')%>
    <section class="breadcrumbs">
        <a href="/" class="prev-page">Главная</a>
        <span class="prev-page-line"></span>
        <a href="" class="current-page">FAQ</a>
    </section>
    <section class="content">
        <h2 class="content-header">Часто задаваемые вопросы (FAQ)</h2>
        <div class="content-body">
            <div class="faq-item">
                <div class="faq-item-header">Еврорубероид</div>
                <div class="faq-questions">
                    <div class="question-item">
                        <div class="question-header">
                            <span>Можно ли клеить еврорубероид на битумную мастику?</span>
                            <img src="img/arrow.svg" alt="">
                        </div>
                        <div class="question-answer">
                            Можно. Только нужно помнить следующее: клеить на мастику можно еврорубероиды с аббревиатурой ХПП, ЕПП , Х-стеклохолст П – пленка П- пленка , Е-полиэстер П - пленка Еврорубероиды, у которых низ пленка ( ЕПП, ХПП, ЭКП, ХКП) на мастику можно клеить, только если пленку расплавить газовой горелкой. В противном случае у них практически не будет никакой адгезии. Поэтому без разогрева клеить на битумные мастики еврорубероиды ЕПП, ХПП, ЕКП и ХКП НЕЛЬЗЯ!
                        </div>
                    </div>
                    <div class="question-item">
                        <div class="question-header">
                            <span>Можно ли клеить еврорубероид на битумную мастику?</span>
                            <img src="img/arrow.svg" alt="">
                        </div>
                        <div class="question-answer">
                            Можно. Только нужно помнить следующее: клеить на мастику можно еврорубероиды с аббревиатурой ХПП, ЕПП , Х-стеклохолст П – пленка П- пленка , Е-полиэстер П - пленка Еврорубероиды, у которых низ пленка ( ЕПП, ХПП, ЭКП, ХКП) на мастику можно клеить, только если пленку расплавить газовой горелкой. В противном случае у них практически не будет никакой адгезии. Поэтому без разогрева клеить на битумные мастики еврорубероиды ЕПП, ХПП, ЕКП и ХКП НЕЛЬЗЯ!
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-item-header">Еврорубероид</div>
                <div class="faq-questions">
                    <div class="question-item">
                        <div class="question-header">
                            <span>Можно ли клеить еврорубероид на битумную мастику?</span>
                            <img src="img/arrow.svg" alt="">
                        </div>
                        <div class="question-answer">
                            Можно. Только нужно помнить следующее: клеить на мастику можно еврорубероиды с аббревиатурой ХПП, ЕПП , Х-стеклохолст П – пленка П- пленка , Е-полиэстер П - пленка Еврорубероиды, у которых низ пленка ( ЕПП, ХПП, ЭКП, ХКП) на мастику можно клеить, только если пленку расплавить газовой горелкой. В противном случае у них практически не будет никакой адгезии. Поэтому без разогрева клеить на битумные мастики еврорубероиды ЕПП, ХПП, ЕКП и ХКП НЕЛЬЗЯ!
                        </div>
                    </div>
                    <div class="question-item">
                        <div class="question-header">
                            <span>Можно ли клеить еврорубероид на битумную мастику?</span>
                            <img src="img/arrow.svg" alt="">
                        </div>
                        <div class="question-answer">
                            Можно. Только нужно помнить следующее: клеить на мастику можно еврорубероиды с аббревиатурой ХПП, ЕПП , Х-стеклохолст П – пленка П- пленка , Е-полиэстер П - пленка Еврорубероиды, у которых низ пленка ( ЕПП, ХПП, ЭКП, ХКП) на мастику можно клеить, только если пленку расплавить газовой горелкой. В противном случае у них практически не будет никакой адгезии. Поэтому без разогрева клеить на битумные мастики еврорубероиды ЕПП, ХПП, ЕКП и ХКП НЕЛЬЗЯ!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('parts/footer')%>
    <script src="js/modal.js"></script>
    <script src="js/faq.js"></script>
</body>
</html>