<header>
    <a href="/admin/main">Меню</a>
    <a href="/admin/charts">Контактная информация</a>
    <a href="/admin/marks">Управление записями</a>
    <a href="/admin/slider">Слайдер с акциями</a>
    <a href="/admin/products">Управления товарами</a>
    <a href="/admin/description">Изменение текстов/описаний</a>
</header>