<header>
    <a href="/admin/main">Меню</a>
    <a href="">Номера/Время работы</a>
    <a href="">О нас</a>
    <a href="">Управление записями</a>
    <a href="">Слайдер с акциями</a>
    <a href="">Управления товарами</a>
    <a href="">Управление отзывами</a>
    <a href="">Изменение текстов/описаний</a>
</header>