.breadcrumbs {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.breadcrumbs a {
  font-size: 0.6rem;
  line-height: 0.9rem;
  text-decoration: none;
  font-weight: 700;
  text-overflow: ellipsis;
}
.breadcrumbs .prev-page {
  color: #1235C4;
}
.breadcrumbs .prev-page-line {
  min-width: 25px;
  width: 25px;
  height: 1px;
  background-color: #1235C4;
  margin: 0px 5px;
}
.breadcrumbs .current-page {
  color: #5E696F;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content {
  width: 1180px;
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box;
}
.content .content-header {
  color: #5E696F;
  font-size: 1.5rem;
  line-height: 2.05rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.content .content-body {
  width: 100%;
}
.content .content-body img {
  width: 580px;
  height: 400px;
  margin-right: 20px;
  float: left;
}
.content .content-body .text {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #2B2E40;
  margin-bottom: 20px;
}
.content .content-body ul {
  list-style-type: disc;
  list-style-position: inside;
}

.articles-items-navigation {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 60px;
}
.articles-items-navigation *:first-child {
  margin-right: 100px;
}
.articles-items-navigation *:first-child svg {
  transform: rotateZ(-90deg);
}
.articles-items-navigation div:last-child {
  margin-left: 15px;
}
.articles-items-navigation div:last-child svg {
  transform: rotateZ(90deg);
}
.articles-items-navigation .nav-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.articles-items-navigation .nav-btn *:first-child {
  margin-right: 11px;
}
.articles-items-navigation .nav-btn span {
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #1235C4;
}

footer {
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  .breadcrumbs {
    white-space: nowrap;
    margin-bottom: 40px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 0px 8px;
    width: 100%;
  }
  .breadcrumbs a {
    font-size: 0.5rem;
    line-height: 0.9rem;
  }

  .content {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    box-sizing: border-box;
  }
  .content .content-header {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 20px;
    padding: 0px 8px;
  }
  .content .content-body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .content .content-body img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    order: 2;
  }
  .content .content-body .text {
    font-size: 0.6rem;
    line-height: 0.9rem;
    padding: 0px 8px;
  }
  .content .content-body .text1 {
    order: 1;
  }
  .content .content-body ul {
    order: 3;
  }
  .content .content-body .text2 {
    order: 4;
  }
  .content .content-body .text3 {
    order: 5;
  }

  .articles-items-navigation {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 8px;
    justify-content: space-between;
  }
  .articles-items-navigation .pagination {
    display: none;
  }
  .articles-items-navigation .nav-btn span {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  footer {
    margin-top: 40px;
  }
}