.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  align-self: flex-start;
}
.breadcrumbs a {
  font-size: 0.6rem;
  line-height: 0.9rem;
  text-decoration: none;
  font-weight: 700;
}
.breadcrumbs .prev-page {
  color: #1235C4;
}
.breadcrumbs .prev-page-line {
  width: 25px;
  height: 1px;
  background-color: #1235C4;
  margin: 0px 5px;
}
.breadcrumbs .current-page {
  color: #5E696F;
}

.calculator {
  width: 1180px;
  box-sizing: border-box;
  padding-right: 300px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.calculator .wrap-calculator {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 229, 34, 0.1);
  box-sizing: border-box;
  padding: 0px 40px;
  display: flex;
  align-items: center;
}
.calculator .wrap-calculator .calculator-title {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #000000;
  margin-right: 5px;
}
.calculator .wrap-calculator a {
  text-decoration: none;
}
.calculator .wrap-calculator a span {
  font-size: 0.7rem;
  line-height: 1.05rem;
  margin-right: 7px;
  color: #1235C4;
  transition-duration: 0.3s;
}
.calculator .wrap-calculator a svg path {
  transition-duration: 0.3s;
}
.calculator .wrap-calculator a:hover span {
  color: #163391;
}
.calculator .wrap-calculator a:hover svg path {
  fill: #163391;
}

.products {
  display: flex;
  width: 1180px;
  margin: 0 auto;
  height: 100%;
}
.products .mobile-filter-bg {
  display: none;
}

.filter {
  background-color: #e7f7fe;
  height: 100%;
  box-sizing: border-box;
  padding-top: 85px;
  padding-right: 32px;
  padding-bottom: 85px;
  position: relative;
  margin-right: 20px;
}
.filter .mobile-filter-btn {
  display: none;
}
.filter:after {
  position: absolute;
  content: "";
  top: 0;
  background-color: #e7f7fe;
  z-index: -1;
  left: 0;
  transform: translateX(-1000px);
  height: 100%;
  width: 1000px;
}
.filter .filter-title {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #2B2E40;
  margin-bottom: 10px;
  font-weight: 700;
}
.filter .sort-of {
  width: 248px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #2B2E40;
  box-sizing: border-box;
  padding: 0px 20px;
  margin-bottom: 30px;
}
.filter .sort-of .sort-list {
  width: 100%;
  left: 0;
  top: 43px;
  margin-top: 0px;
}
.filter .sort-of .sort-list .sort-list-item {
  color: #2B2E40;
}
.filter .active-filters {
  width: 248px;
  margin-bottom: 20px;
}
.filter .active-filters .active-filter-item {
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 2px 13px 2px 10px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  position: relative;
}
.filter .active-filters .active-filter-item span {
  color: #1235C4;
  font-size: 0.7rem;
  line-height: 1.05rem;
  margin-right: 17px;
  transition-duration: 0.3s;
}
.filter .active-filters .active-filter-item span:hover {
  color: #163391;
}
.filter .active-filters .active-filter-item div {
  width: 11px;
  background-color: #1235C4;
  height: 1px;
  position: absolute;
  right: 14px;
  cursor: pointer;
  z-index: 1;
}
.filter .active-filters .active-filter-item .close1 {
  transform: rotateZ(45deg);
}
.filter .active-filters .active-filter-item .close2 {
  transform: rotateZ(-45deg);
}
.filter .filter-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.filter .filter-block .checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.filter .filter-block .checkbox-item .checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #1235C4;
  box-sizing: border-box;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter .filter-block .checkbox-item .label {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #2B2E40;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filter .filter-block .checkbox-item-active .checkbox {
  background-color: #1235C4;
}
.filter .filter-block .checkbox-item-active .checkbox:after {
  content: "";
  width: 4px;
  height: 9px;
  border-bottom: 2.5px solid #e7f7fe;
  border-right: 2.5px solid #e7f7fe;
  transform: rotateZ(45deg);
  margin-top: -3px;
}

.no-filter {
  display: none;
}

.product-items {
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.product-items .filter-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-items .filter-items .preview-item {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 50px;
}
.product-items .filter-items .preview-item:hover .wrap-photo {
  background-color: rgba(20, 175, 242, 0.1);
}
.product-items .filter-items .preview-item:hover h3 {
  color: #163391;
}
.product-items .filter-items .preview-item .wrap-photo {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  position: relative;
  transition-duration: 0.3s;
}
.product-items .filter-items .preview-item .wrap-photo .sale {
  position: absolute;
  width: 70px;
  height: 20px;
  top: -10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CB4E4A;
  right: 10px;
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 0.9rem;
}
.product-items .filter-items .preview-item .wrap-photo .new {
  position: absolute;
  width: 70px;
  height: 20px;
  top: -10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1235C4;
  left: 10px;
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 0.9rem;
}
.product-items .filter-items .preview-item .wrap-photo img {
  max-width: 100%;
  max-height: 100%;
}
.product-items .filter-items .preview-item .product-name {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #2B2E40;
  margin-bottom: 5px;
  transition-duration: 0.3s;
  text-decoration: none;
}
.product-items .filter-items .preview-item .price-info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}
.product-items .filter-items .preview-item .price-info *:first-child {
  margin-right: 5px;
}
.product-items .filter-items .preview-item .price-info .item-price {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #2B2E40;
  font-weight: bold;
}
.product-items .filter-items .preview-item .price-info .item-count {
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: #C3CEDB;
}
.product-items .filter-items .preview-item .item-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.product-items .filter-items .preview-item .item-rating .rating-count {
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: #1235C4;
  margin-right: 5px;
  font-weight: bold;
}
.product-items .filter-items .preview-item .item-rating .star-rating {
  display: flex;
}
.product-items .filter-items .preview-item .about-product {
  text-decoration: none;
  opacity: 1;
  transition-duration: 0.3s;
}
.product-items .filter-items .preview-item .about-product span {
  font-size: 0.7rem;
  line-height: 1.05rem;
  margin-right: 7px;
  color: #1235C4;
  transition-duration: 0.3s;
}
.product-items .filter-items .preview-item .about-product svg path {
  transition-duration: 0.3s;
}
.product-items .filter-items .preview-item .about-product:hover span {
  color: #163391;
}
.product-items .filter-items .preview-item .about-product:hover svg path {
  fill: #163391;
}

.filter-items-navigation {
  display: flex;
  margin-top: -10px;
}
.filter-items-navigation *:first-child {
  margin-right: 15px;
}
.filter-items-navigation *:first-child svg {
  transform: rotateZ(-90deg);
}
.filter-items-navigation .nav-btn:last-child {
  margin-left: 15px;
}
.filter-items-navigation .nav-btn:last-child svg {
  transform: rotateZ(90deg);
}
.filter-items-navigation .nav-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.filter-items-navigation .nav-btn *:first-child {
  margin-right: 11px;
}
.filter-items-navigation .nav-btn span {
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #1235C4;
}
.filter-items-navigation .pagination {
  display: flex;
}
.filter-items-navigation .pagination a {
  text-decoration: none;
  font-size: 0.7rem;
  line-height: 1rem;
  color: #5E696F;
  cursor: pointer;
}
.filter-items-navigation .pagination a:not(:last-child) {
  margin-right: 10px;
}
.filter-items-navigation .pagination .active-num-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #1235C4;
  font-weight: 700;
  color: #fff;
}

.description {
  width: 100%;
  height: auto;
  padding: 40px 0px 100px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  position: relative;
}
.description .wrap-description {
  width: 1180px;
  margin: 0 auto;
}
.description .wrap-description .description-header {
  color: #5E696F;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
  font-weight: 700;
}
.description .wrap-description .description-text {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #2B2E40;
  font-weight: 300;
}
.description .wrap-description .description-text strong {
  font-weight: 700;
}
.description .wrap-description .description-text pre {
  white-space: pre-wrap;
}

@media screen and (max-width: 600px) {
  .products {
    position: static;
  }

  .filter {
    position: absolute;
    left: -235px;
    z-index: 5;
    top: 0px;
    height: auto;
    width: 235px;
    padding-top: 40px;
    padding-left: 9px;
    padding-bottom: 20px;
    margin-right: 0px;
    transition-duration: 0.3s;
  }
  .filter:after {
    content: "";
    position: absolute;
    width: 600px;
    height: 100%;
    top: 0px;
    z-index: 4;
    right: -600px;
    left: unset;
    background-color: #163391;
    transform: translateX(0px);
    visibility: hidden;
    transition-duration: 0.3s;
    opacity: 0;
  }
  .filter:before {
    content: "";
    position: absolute;
    width: 800px;
    height: 80px;
    bottom: -80px;
    z-index: 4;
    left: -9px;
    background-color: #163391;
    transform: translateX(0px);
    transition-duration: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  .filter .mobile-filter-btn {
    position: fixed;
    top: 195px;
    left: -1px;
    width: 32px;
    height: 32px;
    z-index: 5;
    background-color: #e7f7fe;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
  }
  .filter .filter-title {
    font-size: 0.7rem;
    line-height: 1.05rem;
  }
  .filter .active-filters .active-filter-item {
    height: 20px;
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-right: 10px;
  }
  .filter .active-filters .active-filter-item div {
    margin-top: 1px;
  }
  .filter .sort-of {
    width: 180px;
    height: 30px;
  }
  .filter .sort-of span {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  .filter .sort-of .sort-list {
    top: 34px;
  }
  .filter .sort-of .sort-list .sort-list-item {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  .filter .filter-block {
    margin-bottom: 10px;
  }
  .filter .filter-block .checkbox-item .label {
    font-size: 0.6rem;
    line-height: 0.9rem;
    font-weight: normal;
  }

  .filter-active {
    left: 0px;
  }
  .filter-active .mobile-filter-btn {
    left: 234px;
  }
  .filter-active:after, .filter-active:before {
    opacity: 0.5;
    visibility: visible;
  }

  .products {
    width: 100%;
  }

  .product-items {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 45px;
  }
  .product-items .breadcrumbs {
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 0px 8px;
  }
  .product-items .breadcrumbs a {
    font-size: 0.5rem;
    line-height: 0.9rem;
  }
  .product-items .filter-items {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 8px;
  }
  .product-items .filter-items .preview-item {
    width: 49.2%;
    height: auto;
    margin-bottom: 20px;
  }
  .product-items .filter-items .preview-item .wrap-photo {
    height: 150px;
    margin-bottom: 10px;
  }
  .product-items .filter-items .preview-item .wrap-photo .sale {
    width: 44px;
    height: 14px;
    font-size: 0.4rem;
    line-height: 0.6rem;
    top: -7px;
    right: 8px;
  }
  .product-items .filter-items .preview-item .wrap-photo .new {
    width: 44px;
    height: 14px;
    font-size: 0.4rem;
    line-height: 0.6rem;
    top: -7px;
    left: 8px;
  }
  .product-items .filter-items .preview-item .wrap-photo img {
    height: 105px;
  }
  .product-items .filter-items .preview-item .product-name {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  .product-items .filter-items .preview-item .price-info {
    margin-bottom: 3px;
  }
  .product-items .filter-items .preview-item .price-info .item-price {
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-right: 5px;
  }
  .product-items .filter-items .preview-item .price-info .item-count {
    font-size: 0.5rem;
    line-height: 0.9rem;
  }
  .product-items .filter-items .preview-item .item-rating {
    margin-bottom: 0px;
  }
  .product-items .filter-items .preview-item .item-rating s .rating-count {
    font-size: 0.5rem;
    line-height: 0.9rem;
  }
  .product-items .filter-items .preview-item .item-rating .star-rating svg {
    width: 12px;
    height: 12px;
  }
  .product-items .filter-items .preview-item .about-product {
    display: none;
  }
  .product-items .filter-items-navigation {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 8px;
    justify-content: space-between;
  }
  .product-items .filter-items-navigation .pagination {
    display: none;
  }
  .product-items .filter-items-navigation .nav-btn span {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  .description {
    background-color: #fff;
    padding: 0px 8px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 31px;
    height: auto;
  }
  .description .wrap-description {
    width: 100%;
  }
  .description .wrap-description .description-header {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 20px;
  }
  .description .wrap-description .description-text {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
}