footer {
  width: 100%;
  height: 500px;
  padding: 80px 0px;
  background-color: #1235C4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-wrap {
  width: 1180px;
  margin: 0 auto;
  display: flex;
}
footer .footer-wrap .footer-item {
  display: flex;
  flex-direction: column;
}
footer .footer-wrap .footer-item:nth-child(2) {
  margin-right: 60px;
}
footer .footer-wrap .footer-item:nth-child(3) {
  margin-right: 120px;
}
footer .footer-wrap .footer-item:nth-child(3) .footer-header:last-child {
  margin-bottom: 0px;
}
footer .footer-wrap .footer-item:nth-child(4) {
  margin-right: 55px;
}
footer .footer-wrap .footer-item .footer-header {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  transition-duration: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
footer .footer-wrap .footer-item .footer-header:hover {
  color: #FFE522;
}
footer .footer-wrap .footer-item .footer-link {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.3s;
}
footer .footer-wrap .footer-item .footer-link:hover {
  color: #FFE522;
}
footer .footer-wrap .footer-item .footer-link:not(:last-child) {
  margin-bottom: 20px;
}
footer .footer-wrap .logo-item {
  width: 280px;
  align-items: center;
  margin-right: 20px;
}
footer .footer-wrap .logo-item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
footer .footer-wrap .logo-item a svg {
  margin-top: -5px;
}
footer .footer-wrap .logo-item a svg path {
  transition-duration: 0.3s;
}
footer .footer-wrap .logo-item a:hover svg {
  cursor: pointer;
}
footer .footer-wrap .logo-item a:hover svg path {
  fill: #FFE522;
}
footer .footer-wrap .logo-item a:hover .footer-title {
  color: #FFE522;
}
footer .footer-wrap .logo-item .footer-title {
  font-size: 0.45rem;
  line-height: 0.9rem;
  color: #fff;
  transition-duration: 0.3s;
}
footer .footer-wrap .logo-item .footer-chart {
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .footer-wrap .logo-item .footer-phone {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #fff;
  font-weight: 700;
  -webkit-appearance: none;
}
footer .footer-wrap .logo-item .footer-phone:not(:last-child) {
  margin-bottom: 20px;
}
footer .copyright {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #fff;
  opacity: 0.5;
}
footer .footer-btn-menu {
  display: none;
}

.call-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition-duration: 0.3s;
  opacity: 0;
}
.call-modal .wrap-modal {
  transition-duration: 0.3s;
  width: 580px;
  height: 675px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transform: translateY(-30px);
  padding: 75px 80px 55px;
}
.call-modal .wrap-modal img {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.call-modal .wrap-modal .call-header {
  font-size: 1.5rem;
  line-height: 2.05rem;
  font-weight: 700;
  color: #5E696F;
  margin-bottom: 20px;
}
.call-modal .wrap-modal .call-title {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #2B2E40;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}
.call-modal .wrap-modal form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  transition-duration: 0.3s;
  max-height: 341px;
}
.call-modal .wrap-modal form .call-input-wrap {
  margin-bottom: 37px;
  width: 100%;
  position: relative;
}
.call-modal .wrap-modal form .call-input-wrap .error-img {
  position: absolute;
  right: 10px;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
}
.call-modal .wrap-modal form .call-input-wrap .error-message {
  position: absolute;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: #CB4E4A;
  opacity: 0;
  bottom: -18px;
  left: 20px;
  transition-duration: 0.2s;
}
.call-modal .wrap-modal form .call-input-wrap .call-input {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #1235C4;
  padding: 0px 20px;
  z-index: 4;
  outline: none;
}
.call-modal .wrap-modal form .call-input-wrap .placeholder {
  position: absolute;
  transition-duration: 0.3s;
  z-index: 5;
  height: 60px;
  top: 0;
  box-sizing: border-box;
  padding: 0px 3px;
  margin-left: 17px;
  cursor: text;
  display: flex;
  align-items: center;
  color: #C3CEDB;
  font-size: 0.8rem;
  line-height: 1.2rem;
  transition-duration: 0.3s;
}
.call-modal .wrap-modal form .call-input-wrap .active-input {
  position: absolute;
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: #1235C4;
  padding: 3px;
  background-color: #fff;
  transform: translateY(-9px);
  height: 18px;
  width: auto;
}
.call-modal .wrap-modal form .error-input .placeholder {
  color: #CB4E4A;
}
.call-modal .wrap-modal form .error-input .call-input {
  border: 1px solid #CB4E4A;
}
.call-modal .wrap-modal form .error-input .error-img {
  opacity: 1;
  visibility: visible;
}
.call-modal .wrap-modal form .error-input .error-message {
  opacity: 1;
}
.call-modal .wrap-modal form .submit-btn {
  width: 100%;
  height: 50px;
  background-color: #5E696F;
  border: none;
  outline: none;
  color: #C3CEDB;
  font-size: 0.7rem;
  line-height: 1.05rem;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.3s;
}
.call-modal .wrap-modal form .active-submit-btn {
  background-color: #14AFF2;
  color: #ffffff;
}
.call-modal .wrap-modal .chart-title {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #2B2E40;
}
.call-modal .sending-modal {
  justify-content: center;
}
.call-modal .sending-modal form {
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
}
.call-modal .sending-modal span {
  display: none;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}
.modal-active .wrap-modal {
  transform: translateY(0px);
}

@media screen and (max-width: 600px) {
  footer {
    height: auto;
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  footer .footer-wrap {
    padding: 0px 8px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    max-height: 700px;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  footer .footer-wrap .footer-item {
    margin-right: 0px;
    transition-duration: 0.3s;
    max-height: 500px;
  }
  footer .footer-wrap .footer-item .footer-header {
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-bottom: 10px;
  }
  footer .footer-wrap .footer-item .footer-link {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  footer .footer-wrap .footer-item .footer-link:not(:last-child) {
    margin-bottom: 10px;
  }
  footer .footer-wrap .footer-item a svg {
    width: 120px;
    height: 18px;
    margin-top: 0px;
  }
  footer .footer-wrap .footer-item a .footer-title {
    font-size: 0.3rem;
  }
  footer .footer-wrap .footer-item .footer-phone {
    font-size: 0.6rem;
  }
  footer .footer-wrap .footer-item:nth-child(2) {
    margin-right: 34px;
  }
  footer .footer-wrap .footer-item:nth-child(2) {
    margin-right: 34px;
  }
  footer .footer-wrap .footer-item:nth-child(3) {
    margin-right: 0px;
  }
  footer .footer-wrap .footer-item:nth-child(4) {
    margin-right: 0px;
    width: 100%;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .footer-wrap .footer-item:nth-child(4) .footer-header {
    width: 153.5px;
  }
  footer .footer-wrap .footer-item:nth-child(4) .footer-header:not(:last-child) {
    margin-bottom: 18px;
  }
  footer .footer-wrap .logo-item {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .copyright {
    margin-top: 40px;
    font-size: 0.4rem;
    line-height: 1.5rem;
    margin-bottom: 40px;
    transition-duration: 0.3s;
  }
  footer .footer-btn-menu {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #163390;
    align-items: center;
    justify-content: center;
  }
  footer .footer-btn-menu img {
    transition-duration: 0.3s;
    transform: rotateZ(0deg);
  }

  .none-active-footer .footer-wrap {
    max-height: 217px;
  }
  .none-active-footer .copyright {
    max-height: 0px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .none-active-footer .footer-btn-menu img {
    transform: rotateZ(180deg);
  }

  .call-modal .wrap-modal {
    width: 312px;
    height: 478px;
    padding: 25px 20px 20px 20px;
  }
  .call-modal .wrap-modal .call-header {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 10px;
  }
  .call-modal .wrap-modal .call-title {
    font-size: 0.6rem;
    line-height: 0.9rem;
    margin-bottom: 30px;
  }
  .call-modal .wrap-modal form {
    margin-bottom: 10px;
  }
  .call-modal .wrap-modal form .call-input-wrap .call-input {
    height: 45px;
  }
  .call-modal .wrap-modal form .call-input-wrap .placeholder {
    height: 45px;
  }
  .call-modal .wrap-modal form .call-input-wrap .error-img {
    top: 15px;
  }
  .call-modal .wrap-modal form .call-input-wrap .active-input {
    height: 18px;
  }
  .call-modal .wrap-modal form .submit-btn {
    margin-top: 8px;
    height: 50px;
  }
  .call-modal .wrap-modal .chart-title {
    font-size: 0.6rem;
    line-height: 0.9rem;
    font-weight: bold;
  }
}