html {
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
}

header {
  width: 1180px;
  min-width: 1180px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
header h1 {
  color: #C3CEDB;
  font-size: 0.6rem;
  line-height: 0.9rem;
  font-weight: 700;
  color: #5E696F;
}
header .search {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 30px;
  cursor: pointer;
}
header .search svg circle, header .search svg path {
  transition-duration: 0.3s;
  stroke: #5E696F;
}
header .search span {
  color: #C3CEDB;
  font-size: 0.6rem;
  line-height: 0.9rem;
  font-weight: 700;
  color: #5E696F;
  margin-left: 10px;
  transition-duration: 0.3s;
}
header .search:hover svg circle, header .search:hover svg path {
  stroke: #163391;
}
header .search:hover span {
  color: #163391;
}
header .langs {
  display: flex;
  align-items: center;
  margin-right: 50px;
  cursor: pointer;
}
header .langs span {
  color: #C3CEDB;
  font-size: 0.6rem;
  line-height: 0.9rem;
  font-weight: 700;
  color: #5E696F;
  text-transform: uppercase;
  transition-duration: 0.3s;
}
header .langs span span {
  margin-right: 0px;
}
header .langs span:hover {
  color: #163391;
}
header .langs span img {
  margin-left: 8px;
}
header .phones {
  display: flex;
  margin-right: 30px;
}
header .phones .phone {
  color: #1235C4;
  font-size: 0.7rem;
  line-height: 1.05rem;
  font-weight: 700;
  transition-duration: 0.3s;
  cursor: pointer;
}
header .phones .phone:not(:last-child) {
  margin-right: 30px;
}
header .phones .phone:hover {
  color: #163391;
}
header .chart {
  color: #C3CEDB;
  font-size: 0.6rem;
  line-height: 0.9rem;
  font-weight: 700;
  color: #5E696F;
  font-weight: 400;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-wrap {
  width: 980px;
  display: flex;
  align-items: center;
}
nav .nav-wrap .mobile-btn-menu {
  display: none;
}
nav .nav-wrap .mobile-btn-phone {
  display: none;
}
nav .nav-wrap .logo {
  margin-right: 40px;
  display: flex;
}
nav .nav-wrap .navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
nav .nav-wrap .navigation .mobile-search, nav .nav-wrap .navigation .mobile-langs, nav .nav-wrap .navigation .mobile-bg-menu {
  display: none;
}
nav .nav-wrap .navigation li {
  cursor: pointer;
}
nav .nav-wrap .navigation li span, nav .nav-wrap .navigation li a {
  font-size: 0.7rem;
  line-height: 1.05rem;
  color: #2B2E40;
  font-weight: 700;
  transition-duration: 0.3s;
  text-decoration: none;
}
nav .nav-wrap .navigation li span a, nav .nav-wrap .navigation li a a {
  transition-duration: 0.3s;
  text-decoration: none;
  color: #2B2E40;
}
nav .nav-wrap .navigation li img {
  margin-right: 0px;
  margin-left: 9px;
}
nav .nav-wrap .navigation li:hover span, nav .nav-wrap .navigation li:hover a {
  color: #163391;
}
nav .nav-wrap .navigation li:hover span a, nav .nav-wrap .navigation li:hover a a {
  color: #163391;
}
nav .nav-wrap .navigation li:hover span .menu-list .menu-list-item, nav .nav-wrap .navigation li:hover a .menu-list .menu-list-item {
  color: #2B2E40;
}
nav .nav-wrap .navigation li:hover span .menu-list .menu-list-item:hover, nav .nav-wrap .navigation li:hover a .menu-list .menu-list-item:hover {
  color: #163391;
}
nav .nav-wrap .navigation li:last-child {
  margin-left: 40px;
}
nav .nav-wrap .navigation li:last-child span {
  color: #1235C4;
  border-bottom: 1px solid #1235C4;
  transition-duration: 0.3s;
}
nav .nav-wrap .navigation li:last-child span:hover {
  color: #163391;
  border-bottom: 1px solid #163391;
}
nav .nav-wrap .navigation .mobile-nav-close {
  display: none;
}

.submenu-btn {
  position: relative;
  cursor: pointer;
}
.submenu-btn + img {
  transition-duration: 0.3s;
}
.submenu-btn img {
  transition-duration: 0.3s;
}

.menu-list {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  margin-top: 8px;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 10px 20px rgba(18, 53, 196, 0.1);
  transition-duration: 0.2s;
  padding: 5px 0px;
}
.menu-list .menu-list-item {
  height: 40px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  line-height: 1.05rem;
  transition-duration: 0.3s;
  color: #2B2E40;
  font-weight: 500;
  white-space: nowrap;
}
.menu-list .menu-list-item:hover {
  color: #163391;
  background: rgba(20, 175, 242, 0.5);
}

.submenu-btn-active + img {
  transform: rotateZ(180deg);
}
.submenu-btn-active img {
  transform: rotateZ(180deg);
}
.submenu-btn-active .menu-list {
  visibility: visible;
  opacity: 1;
}

.download-btns {
  position: fixed;
  top: 245px;
  right: 0px;
  display: flex;
  transform-origin: right;
  z-index: 3;
  transform: rotateZ(-90deg) translateY(-25px);
}
.download-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 2.05rem;
  text-decoration: none;
  transition-duration: 0.3s;
}
.download-btns a:first-child {
  margin-right: 20px;
  border: 1px solid #14AFF2;
  box-sizing: border-box;
  color: #14AFF2;
  background-color: #fff;
}
.download-btns a:first-child:hover {
  color: #163391;
  border: 1px solid #163391;
}
.download-btns a:last-child {
  background-color: #14AFF2;
  color: #ffffff;
}
.download-btns a:last-child:hover {
  background-color: #163391;
}

@media screen and (max-width: 600px) {
  html, body, section {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
  }

  header, .after-nav {
    display: none;
  }

  nav {
    height: 72px;
    position: relative;
  }
  nav .nav-wrap {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 8px;
  }
  nav .nav-wrap .mobile-btn-menu, nav .nav-wrap .mobile-btn-phone {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1235C4;
    box-sizing: border-box;
  }
  nav .nav-wrap .mobile-btn-menu img {
    width: 16px;
    height: 14px;
  }
  nav .nav-wrap .mobile-btn-phone img {
    width: 16px;
    height: 16px;
  }
  nav .nav-wrap .logo {
    margin-right: 0px;
  }
  nav .nav-wrap .logo img {
    width: 120px;
    height: 17px;
  }
  nav .nav-wrap .mobile-bg-menu {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    top: 0;
    left: 0;
    background: #163391;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
  }
  nav .nav-wrap .navigation {
    position: fixed;
    justify-content: flex-start;
    transition-duration: 0.3s;
    flex-wrap: wrap;
    top: 0px;
    z-index: 6;
    background-color: #fff;
    left: -266px;
    padding-left: 8px;
    padding-bottom: 12px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 234px;
  }
  nav .nav-wrap .navigation .mobile-nav-close {
    position: absolute;
    top: 100px;
    right: -31px;
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }
  nav .nav-wrap .navigation .mobile-nav-close span {
    width: 11px;
    height: 2px;
    background-color: #1235C4;
    position: absolute;
  }
  nav .nav-wrap .navigation .mobile-nav-close .close1 {
    transform: rotateZ(45deg);
  }
  nav .nav-wrap .navigation .mobile-nav-close .close2 {
    transform: rotateZ(-45deg);
  }
  nav .nav-wrap .navigation .mobile-search {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 16px;
  }
  nav .nav-wrap .navigation .mobile-search svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  nav .nav-wrap .navigation .mobile-search span {
    color: #5E696F;
    font-size: 0.6rem;
    line-height: 0.9rem;
    font-weight: 700;
  }
  nav .nav-wrap .navigation .mobile-langs {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  nav .nav-wrap .navigation .mobile-langs .menu-list-item {
    color: #5E696F;
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  nav .nav-wrap .navigation .mobile-langs .menu-list-item:first-child {
    margin-right: 15px;
  }
  nav .nav-wrap .navigation .mobile-langs .menu-list-item-active {
    font-size: 0.6rem;
    line-height: 0.9rem;
    font-weight: 700;
    color: #1235C4;
  }
  nav .nav-wrap .navigation li {
    width: 100%;
    height: auto;
  }
  nav .nav-wrap .navigation li a {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  nav .nav-wrap .navigation li .submenu-btn {
    flex-direction: column;
  }
  nav .nav-wrap .navigation li .submenu-btn a {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
  nav .nav-wrap .navigation li .submenu-btn .menu-list {
    position: static;
    opacity: 1;
    visibility: visible;
    padding: 0px;
    margin-top: 10px;
    box-shadow: none;
  }
  nav .nav-wrap .navigation li .submenu-btn .menu-list .menu-list-item {
    padding: 0;
    font-size: 0.6rem;
    line-height: 0.9rem;
    height: auto;
    font-weight: 500;
  }
  nav .nav-wrap .navigation li .submenu-btn .menu-list .menu-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  nav .nav-wrap .navigation li .submenu-btn img {
    display: none;
  }
  nav .nav-wrap .navigation li:last-child {
    display: none;
  }
  nav .nav-wrap .navigation li:not(:last-child), nav .nav-wrap .navigation li:not(:nth-child(6)) {
    margin-bottom: 10px;
  }
  nav .nav-wrap-active .mobile-bg-menu {
    visibility: visible;
    opacity: 0.5;
  }
  nav .nav-wrap-active .navigation {
    left: 0px;
  }

  .download-btns {
    display: none;
  }
}