<header>
    <h1>Производственно-кровельная компания</h1>
    <div class="search">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="7" cy="7" r="6" stroke="#C3CEDB" stroke-width="2"/>
            <path d="M15 15L12 12" stroke="#C3CEDB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>Поиск</span>
    </div>
    <div class="langs">
        <span class="lang-selected submenu-btn"><span>ru</span>
            <div class="langs-list menu-list">
                <div class="menu-list-item new-submenu-item">RU</div>
                <div class="menu-list-item new-submenu-item">UA</div>
            </div>
            <img src="img/arrow-dark.png" alt="">
        </span>
    </div>
    <div class="phones">
        <span class="phone">+38(097)-892-25-90</span>
        <span class="phone">+38(097)-892-25-90</span>
        <span class="phone">+38(093)-022-82-48</span>
    </div>
    <span class="chart">пн-пт: 8:00 - 19:00, сб-вс: 9:00 - 13:00</span>
</header>
<nav>
    <div class="nav-wrap">
        <div class="mobile-btn-menu">
            <img src="img/burger.png" alt="">
        </div>
        <a href="/" class="logo"><img src="img/logo.svg" alt=""></a>
        <div class="mobile-btn-phone">
            <img src="img/phone.png" alt="">
        </div>
        <ul class="navigation">
            <div class="mobile-search">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="7" cy="7" r="6" stroke="#C3CEDB" stroke-width="2"/>
                    <path d="M15 15L12 12" stroke="#C3CEDB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>Поиск</span>
            </div>
            <div class="mobile-langs">
                <div class="menu-list-item menu-list-item-active">RU</div>
                <div class="menu-list-item">UA</div>
            </div>
            <div class="mobile-nav-close">
                <span class="close1"></span>
                <span class="close2"></span>
            </div>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/certification">Сертификаты</a></li>
            <li><span class="submenu-btn"><a>О нас</a>
                <div class="menu-list">
                    <a href="/about/contacts" class="menu-list-item">Контакты</a>
                    <a href="/about/company" class="menu-list-item">О компании</a>
                    <a href="/about/feedback" class="menu-list-item">Отзывы</a>
                    <a href="/about/articles" class="menu-list-item">Статьи</a>
                </div>
                <img src="img/arrow.svg" alt="">
            </span></li>
            <li><a href="/delivery">Оплата и доставка</a></li>
            <li><a href="/examples">Примеры работ</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><span class="call">Перезвоните мне</span></li>
        </ul>
        <div class="mobile-bg-menu"></div>
    </div>
</nav>
<div class="download-btns">
    <a href="">Скачать каталог</a>
    <a href="">Скачать прайс</a>
</div>